.pagesList {
  padding-top: 25px;
  .pageTile{
    width: 300px;
    padding: 25px;
    border-radius: 5px;
    color: #fff;
    text-decoration: none;
    background: #263961;
    margin-bottom: 15px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.05);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.05);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.10);
    transition: .25s ease all;
    cursor: pointer;
    &:hover {
      transform: scale(.95);
    }
  }
}
