.pageDetails {
  margin-bottom: 5px;
  .detailType {
    margin-right: 5px;
    font-weight: bold;
  }
  .detailValue {
    color: #aaa;
  }
}
.pagePosts {
  margin-top: 35px;
  .postsHeading{
    margin-bottom: 12px;
    font-size: 1.3em;
    font-weight: bold;
  }
}
